services:
  web:
    build: .
    volumes:
      - static_volume:/app/staticfiles
      - writable_volume:/app/writable
    env_file:
      - ./.env
    restart: unless-stopped
  nginx:
    image: nginx:latest
    volumes:
      - static_volume:/app/staticfiles
      - writable_volume:/app/writable
      - ./nginx.conf.template:/etc/nginx/templates/default.conf.template
    env_file:
      - ./.env
    ports:
      - 80:80
    depends_on:
      - web
    restart: unless-stopped

volumes:
  static_volume:
  writable_volume: