{% extends 'portretten/base.html' %}
{% load static %}

{% block content %}
    <div id="toelichting" class="row">
        <h2>Portrettengalerij</h2>
        <div class="col-md-6"><br><br>
            <p>Het fotoarchief van het CKD bevat naar schatting ruim 800.000 foto's en reproducties. Dit materiaal is
                zeer wisselend van kwaliteit: uiteenlopend van authentieke fotografische originelen vervaardigd door
                professionele fotografen tot ingekleurde prentbriefkaarten en illustraties afkomstig uit veilingcatalogi.
                <br><br>
                Sinds beginjaren van deze eeuw wordt het archief gedeeltelijk thematisch en digitaal ontsloten. Een
                voorbeeld hiervan is de Portrettengalerijdatabase. Op dit moment zijn bijna 16.000 portretten uit onze
                afbeeldingencollectie gelicht, gescand en online raadpleegbaar.
            </p><br><br><br><br><br><br>
            <a class="btn btn-success" href="objects/"
               style='height: 72px; padding: 0px 4rem; align-content: center; font-size: 1.6rem; margin: 40px 0px;
               border-radius: 36px; background-color: #5cb85c; border: 1px solid transparent;
               font-family: "Helvetica Neue", Helvetica, Arial, sans-serif'>
                Naar de database
            </a>
        </div>
        <div class="col-md-6">
            <img id="beginpagina" src="{% get_media_prefix %}beginpagina.jpg" class="img-fluid" alt="Portretten">
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <footer class="footer mt-auto py-3 bg-white">
        <div class="container-xxl">
            <span class="text-muted">&copy; 2026 Developed by the Humanities Lab @ Radboud Universiteit Nijmegen</span>
        </div>
    </footer>
{% endblock footer %}